<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <h1>List of All Post</h1>
    <%for(post of posts){%>
    <div class="post">
        <h3 class="user">@<%=post.username%></h3>
        <h5 class="content"><%=post.content%></h5>
        <a href="http://localhost:8080/posts/<%=post.id%>">View Details</a>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
        <form method="post" action="/posts/<%=post.id %>?_method=DELETE">
            <button>Delete Button</button>
        </form>
    </div>
    <%}%>
    <a href="http://localhost:8080/posts/new">Create new Post</a>
</body>
</html>